
data/
*DS_Store*
.venv/
.vscode/
tokenizer_experiments/tokenizers/*
tokenizer_experiments/outputs/*
*__pycache__*
utils/test.py
.keras/*
*.err
*.out
environment_lrlm.yml
environment_lrlm_local.yml
.cache*

test
training/experiments/logs/python_script.log
finetuning/experiments/logs/python_script.log
morph_segmentation/
finetuning/experiments/logs/st_abbmm1.out
*.ipynb
bli/untitled

bli/get_eval_lexicon/alignments/
# bli/lexicons/*
bli/bitext_mining/bho_hin_bitext.txt
bli/bitext_mining/bitext.log

*bitext*txt
*.log
bli/judgments/comp.*
bli/bli_with_vecmap/embeddings/*
*.pkl
training_characterBERT/transformers/*
training_characterBERT/character-bert-pretraining/*
training_characterBERT/external/*
g++
gcc
*/.tensorboard_logs/*
*events.out.tfevents*
*feature_dims*
data_transformation/lang_id/models/*
misc/stats/stats_outputs/corpus_pos_lexical_similarity.png
*png


bli/misc/*.txt
bli/misc/non_id_lexicons/*
bli/cscli_baseline/contextual_embeddings/*

bli/cscli_baseline/CSCBI/*
bli/cscli_baseline/outputs/*
bli/cscli_baseline/CSCBLI/*
bli/cscli_baseline/CSCBLI/
bli/cscli_baseline/embeddings_row_aligned/*
bli/misc/lexicon_preds.json
bli/misc/lexicon_preds_per_word.csv
